.tutorial {
  &__content {
    max-width: 80%;
  }
}
::ng-deep .mat-dialog-container {
  background-color: transparent !important;
  padding: 0px !important;
  box-shadow: none;
  border-radius: 0px !important;
}

@mixin step-container($width, $height) {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #ffffff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #000;
  width: $width;
  height: $height;
}

.step {
  &-1 {
    @include step-container(496px, auto);
    top: 40%;
    left: 33%;
    .row {
      justify-content: space-around;
      width: 80%;
    }
  }
  &-2 {
    @include step-container(312px, auto);
    top: 115px;
    right: 53px;
    .tutorial__content {
      font-size: 18px;
      line-height: 23px;
    }
    .arrow-pointer {
      transform: rotate(90deg);
      top: -50px;
      right: 45px;
    }
  }
  &-3 {
    @include step-container(336px, auto);
    top: 100px;
    left: 330px;
    .tutorial__content {
      font-size: 18px;
      line-height: 23px;
    }
    .arrow-pointer {
      left: -50px;
      top: 10px;
    }
  }
  &-4 {
    @include step-container(362px, auto);
    top: 220px;
    left: 330px;
    .tutorial__content {
      font-size: 18px;
      line-height: 23px;
    }
    .arrow-pointer {
      left: -50px;
      top: 33%;
    }
  }
  &-5 {
    @include step-container(355px, auto);
    top: 125px;
    left: 330px;
    .tutorial__content {
      font-size: 18px;
      line-height: 23px;
    }
    .arrow-pointer {
      left: -50px;
      top: 25px;
    }
  }
  &-6 {
    @include step-container(355px, auto);
    top: 80px;
    left: 330px;
    .tutorial__content {
      font-size: 18px;
      line-height: 23px;
    }
    .arrow-pointer {
      left: -50px;
      top: 0px;
    }
  }
  &-7 {
    @include step-container(355px, auto);
    top: 220px;
    left: 330px;
    .tutorial__content {
      font-size: 18px;
      line-height: 23px;
    }
    .arrow-pointer {
      left: -50px;
      top: 33%;
    }
  }
  &-8 {
    @include step-container(362px, auto);
    top: 40%;
    left: 15%;
    @media (min-width: 1366px) {
      left: 25%;
    }
    .tutorial__content {
      font-size: 18px;
      line-height: 23px;
    }
    .arrow-pointer {
      transform: rotate(180deg);
      right: -50px;
      top: 33%;
    }
  }
}
