.row {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color: #001a26;
  min-height: 96px;
  padding: 20px 40px;
  justify-content: space-around;

  .generar-solicitud:hover {
    cursor: pointer;
  }

  @media (min-width: 1024px) {
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding: 10px 80px;
    min-height: 70px;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: 1024px) {
        justify-content: flex-start;
      }
      .icon {
        margin-left: 0px;
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}
.footer-lola {
  /*height:60px !important;*/
  /*width: calc(100vw - 18px) !important;*/
  min-width: 1348px;
  display: grid;
  @media only screen and (min-width: 1367px) {
    position: fixed !important;
    bottom: 0 !important;
    height: 60px !important;
    overflow-x: hidden;
    /*width: calc(100vw) !important;*/
  }
  @media only screen and (max-width: 1024px) {
    height: 100% !important;
    min-width: 1024px;
  }
}
.custom-col {
  align-self: flex-start;
  text-align: left;
  color: #fff;
  .row {
    padding: 0;
    align-items: center;
  }
}
.redSpace {
  height: 5px;
  min-width: 1024px;
  /*width: 100%;*/
  background: #ffaa00;
  @media only screen and (min-width: 1367px) {
    position: fixed !important;
    bottom: 0 !important;
    position: fixed;
  }
  bottom: 0;
  left: 0;
  right: 0;
}
.vertical-divider {
  height: 42px;
  width: 2px;
  margin: 0 auto;
  background-color: #fff;
  @media (min-width: 1024px) {
    margin: 0 18px;
  }
}
