.container {
  overflow: hidden;
  padding: 0;
  @media screen and (min-width: 1600px) {
    width: 96.5%;
  }
  iframe {
    width: 100%;
    height: 700px;
    overflow: hidden;
    @media only screen and (min-width: 1600px) {
      height: 800px;
    }
  }
}
