<mat-toolbar class="back-nav" [ngSwitch]="lang">
  <span class="bolt-icon" (click)="routerHome()"></span>
  <span class="separator"></span>
  <div class="back-nav__options">
    <div *ngSwitchCase="'Esp'" class="greeting title-header">
      <span class="lola-brain"></span>
      Hola {{ this.userName }}!
    </div>
    <div *ngSwitchCase="'Eng'" class="greeting title-header">
      <span class="lola-brain"></span>
      Hi {{ this.userName }}!
    </div>
    <button
      mat-button
      [disableRipple]="true"
      (click)="logout()"
      class="title-header"
    >
      <span class="material-icons"> logout </span>
    </button>
    <mat-form-field appearance="outlined">
      <mat-select (selectionChange)="changeLang($event)" [value]="lang">
        <mat-option value="Esp"> Esp </mat-option>
        <mat-option value="Eng"> Eng </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>
