mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* bolt styles */
/* navbar styles */
.back-nav {
  background: #001a26;
  mix-blend-mode: normal;
  height: 60px;
  padding: 0;
  z-index: 99;
  position: fixed;
  top: 0;

  &__options {
    display: inline-flex;
    flex-direction: row;
    height: 100%;
  }
  .bolt-icon {
    cursor: pointer;
  }
  .separator {
    height: 100%;
  }
  .greeting {
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
  }
}

.mat-form-field {
  background: linear-gradient(180deg, #ff8f00 0%, #feb817 100%);
  border-radius: 0px 0px 10px 10px;
  width: 75px;
  height: 50px;
  margin: 0px 77px 0px 0px;
}
:host ::ng-deep .mat-form-field-wrapper {
  padding: 10px;
}
:host ::ng-deep .mat-select .mat-select-value-text {
  color: #000000 !important;
}
