p,
h1,
h2,
h3 {
  margin: 0;
}

body > .flex-column {
  height: calc(100vh) !important;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #c7c6c6;
  border-radius: 8px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background: #397eb7;
  border-radius: 8px;
  background-clip: padding-box;
}

.flex-column[_ngcontent-wwh-c173] {
  position: absolute;
  top: 60px;
  left: 0;
  width: 267px;
  height: calc(100vh);
  box-sizing: border-box;
  background-color: #e3e3e3;
  transition: all 0.4s;
  z-index: 9;
  overflow: auto !important;
}

.container {
  .tabs {
    .bolt-btn-filled {
      align-self: flex-end;
      width: 185px;
    }
    .project-submenus {
      transition: all 0.4s;
      align-items: flex-start;
      .col {
        box-sizing: border-box;
        padding: 0 10px;
      }
    }
    .paginator {
      width: 100%;
      justify-content: flex-end;
    }
  }
}
::ng-deep .mat-tab-group {
  width: 100%;
  .mat-tab-label {
    width: 50%;
    /*font-family: "Gotham";*/
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #397eb7;
    border-bottom: 3px solid #397eb7;
  }
  .mat-tab-label-active {
    color: #397eb7;
    opacity: 1;
  }
  .mat-ink-bar {
    height: 3px;
  }
  .submenu-link {
    color: #333333;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
  }
}

.background-grey {
  background: #f8f8f8;
  box-sizing: border-box;
  padding: 10px 0;
  transition: padding 0.2s ease-out;
}
.background-transparent {
  background: transparent;
  box-sizing: border-box;
  padding: 0;
  transition: padding 0.2s ease-in;
  border-bottom: 1px solid #e9e9e9;
}
.arrowDown {
  color: #333333;
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}
