<app-header></app-header>
<div class="container" [ngSwitch]="lang" id="container">
  <!-- role form -->
  <div class="inner-section section__1" *ngIf="showForm">
    <h1 class="underline-title" *ngSwitchCase="'Esp'">Crear rol</h1>
    <h1 class="underline-title" *ngSwitchCase="'Eng'">Create rol</h1>

    <form [formGroup]="createRolForm" class="form-section" autocomplete="off">
      <h2 class="form-title" *ngSwitchCase="'Esp'">Crear un nuevo rol</h2>
      <h2 class="form-title" *ngSwitchCase="'Eng'">Create a new rol</h2>

      <div class="row row__1">
        <div class="col">
          <mat-form-field
            hideRequiredMarker="true"
            appearance="outline"
            floatLabel="auto"
            class="fullInput input-bolt"
          >
            <mat-label *ngSwitchCase="'Esp'">Nombre (Español)</mat-label>
            <mat-label *ngSwitchCase="'Eng'">Name (Spanish)</mat-label>

            <input
              matInput
              id="rol_name_es"
              formControlName="rol_name_es"
              type="text"
              minlength="4"
              maxlength="30"
            />
            <mat-error *ngIf="createRolForm.controls.rol_name_es.errors">
              {{ getMessageform("rol_name_es") }}
            </mat-error>
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            hideRequiredMarker="true"
            floatLabel="auto"
            class="fullInput"
          >
            <mat-label *ngSwitchCase="'Esp'"> Descripción (Español) </mat-label>
            <mat-label *ngSwitchCase="'Eng'">Description (Spanish)</mat-label>

            <textarea
              matInput
              formControlName="description_es"
              minlength="6"
              maxlength="100"
            ></textarea>

            <mat-error *ngIf="createRolForm.controls.description_es.errors">
              {{ getMessageform("description_es") }}
            </mat-error>
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            hideRequiredMarker="true"
            floatLabel="auto"
            class="fullInput"
          >
            <mat-label *ngSwitchCase="'Esp'">Proyecto</mat-label>
            <mat-label *ngSwitchCase="'Eng'">Project</mat-label>

            <mat-select
              [formControl]="createRolForm.controls.role_projects"
              multiple
              (selectionChange)="readProjectsSelected($event.value)"
            >
              <section *ngFor="let option of projects">
                <mat-option
                  *ngIf="option.submenus.length > 0"
                  [value]="option?.name_en"
                >
                  {{ lang == "Esp" ? option?.name_es : option?.name_en }}
                </mat-option>
              </section>
            </mat-select>
            <mat-error *ngIf="createRolForm.controls.role_projects.errors">
              {{ getMessageform("role_projects") }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field
            hideRequiredMarker="true"
            appearance="outline"
            floatLabel="auto"
            class="fullInput input-bolt"
          >
            <mat-label *ngSwitchCase="'Esp'"> Nombre (inglés) </mat-label>
            <mat-label *ngSwitchCase="'Eng'">Name (English)</mat-label>

            <input
              matInput
              id="rol_name_en"
              formControlName="rol_name_en"
              type="text"
              minlength="4"
              maxlength="30"
            />
            <mat-error *ngIf="createRolForm.controls.rol_name_en.errors">
              {{ getMessageform("rol_name_en") }}
            </mat-error>
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            hideRequiredMarker="true"
            floatLabel="auto"
            class="fullInput"
          >
            <mat-label *ngSwitchCase="'Esp'"> Descripción (Inglés) </mat-label>
            <mat-label *ngSwitchCase="'Eng'">Description (English)</mat-label>

            <textarea
              matInput
              formControlName="description_en"
              minlength="6"
              maxlength="100"
            ></textarea>

            <mat-error *ngIf="createRolForm.controls.description_en.errors">
              {{ getMessageform("description_en") }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- projects to create a role -->
      <div class="row row__3" *ngFor="let project of projectResume">
        <div class="col">
          <h2 class="check-row-title">
            {{ this.lang == "Esp" ? project.name_es : project.name_en }}
          </h2>
          <p *ngSwitchCase="'Esp'" class="text-muted">Sub menús</p>
          <p *ngSwitchCase="'Eng'" class="text-muted">Sub menus</p>
          <!-- create a new role -->
          <div class="grid">
            <div class="col row-check" *ngFor="let submenu of project.submenus">
              <div class="row" *ngIf="submenu.apps.length > 0">
                <div class="col">
                  <span class="example-list-section">
                    <mat-checkbox
                      [disabled]="submenu.status == 0"
                      [checked]="submenu.checked"
                      (change)="allowSubmenuAccess($event.checked, submenu)"
                    >
                      {{ lang == "Esp" ? submenu.name_es : submenu.name_en }}
                    </mat-checkbox>
                  </span>
                  <span class="example-list-section">
                    <ul>
                      <li *ngFor="let app of submenu.apps">
                        <mat-checkbox
                          [disabled]="
                            submenu.access == 0 || submenu.status == 0
                          "
                          [(ngModel)]="app.checked"
                          [ngModelOptions]="{ standalone: true }"
                          (change)="allowAppAccess($event.checked, app)"
                        >
                          {{ lang == "Esp" ? app.name_es : app.name_en }}
                        </mat-checkbox>
                      </li>
                    </ul>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row row__2">
        <button
          class="bolt-btn-filled"
          (click)="create ? updateRole() : updateRole('update')"
          style="margin-right: 20px"
        >
          <span *ngSwitchCase="'Esp'">Guardar</span>
          <span *ngSwitchCase="'Eng'">Save</span>
        </button>

        <button class="bolt-btn-filled" (click)="cancel()">
          <span *ngSwitchCase="'Esp'">Cancelar</span>
          <span *ngSwitchCase="'Eng'">Cancel</span>
        </button>
      </div>
    </form>
  </div>

  <!-- roles table -->
  <div class="inner-section section__2">
    <div class="row">
      <h2 class="form-title">Roles</h2>

      <button class="bolt-btn-filled" (click)="openForm(true)">
        <span *ngSwitchCase="'Esp'">Crear nuevo rol</span>
        <span *ngSwitchCase="'Eng'">Create new rol</span>
      </button>
    </div>

    <div class="grid">
      <div class="grid-header">
        <div class="grid-header__title">
          <span>
            {{ lang == "Esp" ? "Nombre" : "Name" }}
          </span>
        </div>
        <div class="grid-header__title">
          <span>
            {{ lang == "Esp" ? "Descripción" : "Description" }}
          </span>
        </div>
        <div class="grid-header__title">
          <span>
            {{ lang == "Esp" ? "Proyecto" : "Project" }}
          </span>
        </div>
        <div class="grid-header__title" style="text-align: center">
          <span>
            {{ lang == "Esp" ? "Acciones" : "Actions" }}
          </span>
        </div>
      </div>

      <div *ngFor="let role of roles; let id = index">
        <div class="grid-content">
          <p class="grid-content__name">
            {{ lang == "Esp" ? role.name_es : role.name_en }}
          </p>
          <p class="grid-content__description">
            {{ lang == "Esp" ? role.description_es : role.description_en }}
          </p>
          <div class="col">
            <p class="grid-content__description">
              <i *ngFor="let project of role.projects; last as isLast">
                {{ lang == "Esp" ? project.name_es : project.name_en
                }}{{ isLast ? null : "/" }}
              </i>
            </p>
          </div>

          <div class="grid-content__action">
            <div class="col">
              <mat-slide-toggle
                [id]="role.id"
                class="enable-toogle"
                (change)="updateRoleStatus(role, $event)"
                [checked]="role.status == 1"
              ></mat-slide-toggle>
              <p class="toggle-text" *ngSwitchCase="'Esp'">
                {{ role.status == 1 ? "Deshabilitar" : "Habilitar" }}
              </p>
              <p class="toggle-text" *ngSwitchCase="'Eng'">
                {{ role.status == 1 ? "Disable" : "Enable" }}
              </p>
            </div>

            <button mat-button class="action-btn" (click)="loadRole(role)">
              <span class="material-icons menu-icon"> edit </span>
              <span class="action-text" *ngSwitchCase="'Esp'"> editar </span>
              <span class="action-text" *ngSwitchCase="'Eng'"> edit </span>
            </button>

            <button mat-button class="action-btn" (click)="deleteRole(role)">
              <span class="material-icons menu-icon"> delete_forever </span>
              <span class="action-text" *ngSwitchCase="'Esp'"> Eliminar </span>
              <span class="action-text" *ngSwitchCase="'Eng'"> Delete </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- paginator -->
    <div class="paginator row" *ngIf="pages">
      <button
        mat-button
        class="paginator-button"
        (click)="updatePage('start')"
        [disabled]="active_count == 1"
      >
        <span style="transform: rotate(180deg)" class="material-icons">
          double_arrow
        </span>
      </button>
      <button
        mat-button
        class="paginator-button"
        (click)="updatePage('prev')"
        [disabled]="active_count == 1"
      >
        <span style="transform: rotate(180deg)" class="material-icons">
          play_arrow
        </span>
      </button>
      <p *ngSwitchCase="'Esp'">
        Mostrando {{ items_length }} de {{ current_items }} resultados
      </p>
      <p *ngSwitchCase="'Eng'">
        Showing {{ items_length }} of {{ current_items }} results
      </p>
      <button
        mat-button
        class="paginator-button"
        (click)="updatePage('next')"
        [disabled]="active_count == pages"
      >
        <span class="material-icons"> play_arrow </span>
      </button>
      <button
        mat-button
        class="paginator-button"
        (click)="updatePage('last')"
        [disabled]="active_count == pages"
      >
        <span class="material-icons"> double_arrow </span>
      </button>
    </div>
  </div>
</div>