/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f5f5f5;
}
.mat-pseudo-checkbox::after {
  color: white !important;
}
.row-footer{
  background-color: #001a26;
  display: grid;
  font-size: 11px;
  justify-content: space-around;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  padding: 10px 80px;
  min-height: 70px;
}
.container-footer-logo ul{
margin: 0;
padding: 0;
}
.container-footer-logo li{
align-items: center;
display: flex;
list-style-type: none;
}
.container-footer-logo li:hover{
  cursor: pointer;
}

.icon-footer{
  font-size: 12px;
  line-height: 18px;
  margin:0 6px 0 0;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #397eb7;
}

.mat-toolbar .mat-form-field-label, .mat-toolbar .mat-focused .mat-form-field-label, .mat-toolbar .mat-select-value, .mat-toolbar .mat-select-arrow, .mat-toolbar .mat-form-field.mat-focused .mat-select-arrow {
  color: #000;
}
/*
.mat-error{
  color:#397eb7 !important;
}
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #397eb7 !important;
} */
/* Bolt Theme */
@import "./theme/material.scss";
@import "./theme/variables.scss";
@import "./theme/buttons.scss";
@import "./theme/content.scss";
@import "./theme/fonts.scss";
@import "./theme/inputs.scss";
@import "./theme/images.scss";
