<!-- sidebar -->
<aside class="flex-column box-shadow" id="sidebar">
  <!-- hide/show sidebar button -->
  <span
    mat-button
    disableRipple="true"
    id="collapseSide"
    class="rounded"
    title="Expandir Menu"
    appToggleSide
    (click)="collapseEvent()"
  >
    <span class="material-icons menu-icon menu-double-arrow" id="arrowSide"> double_arrow </span>
  </span>

  <div
    id="project_list"
    style="justify-content: flex-start; flex: 1"
    appToggleSide
  >
    <mat-accordion multi="false">
      <!-- fav section -->
      <mat-expansion-panel
        id="extf"
        class="no-padding"
        (afterExpand)="arrowRotate(true, 'f')"
        (closed)="arrowRotate(false, 'f')"
        hideToggle
      >
        <mat-expansion-panel-header>
          <i
            class="material-icons arrow"
            id="arrowEf"
            *ngIf="!sideToggleService.sideStatus"
          >
            arrow_forward_ios
          </i>
          <span class="material-icons icon menu-icon" id="iconEf"> star </span>
          <div *ngIf="!sideToggleService.sideStatus" class="option-name">
            {{ lang == "Esp" ? "Favoritos" : "Favorites" }}
          </div>
        </mat-expansion-panel-header>

        <p style="margin-left: 40px" *ngIf="favList.length == 0">
          {{
            lang == "Esp"
              ? "Aun no tienes ningún favorito!"
              : "You don’t have any favorites yet!"
          }}
        </p>

        <section
          disableRipple="true"
          class="row"
          *ngFor="let favItem of favList"
        >
          <button mat-button (click)="openApp(favItem.app_id)">
            <div class="flex1">
              <span
                class="icon {{ favItem.name.split(' ')[0].toLowerCase() }}"
                style="margin-left: 10px"
              ></span>
              <span class="wrap">
                {{ lang == "Esp" ? favItem.name_es : favItem.name_en }}
              </span>
            </div>
          </button>
          <input
            class="star"
            type="checkbox"
            title="bookmark page"
            checked="favItem.fav"
            (change)="showConfirmation($event.target.checked, favItem, 1)"
          />
        </section>
      </mat-expansion-panel>

      <!-- admin section -->
      <mat-expansion-panel
        *ngIf="isAdmin"
        id="exta"
        hideToggle
        (afterExpand)="arrowRotate(true, 'a')"
        (closed)="arrowRotate(false, 'a')"
      >
        <mat-expansion-panel-header>
          <i
            class="material-icons arrow"
            id="arrowEa"
            *ngIf="!sideToggleService.sideStatus"
          >
            arrow_forward_ios
          </i>
          <span class="material-icons icon menu-icon" id="iconEa">
            manage_accounts
          </span>
          <div *ngIf="!sideToggleService.sideStatus" class="option-name">
            {{ lang == "Esp" ? "Administrador" : "Manager" }}
          </div>
        </mat-expansion-panel-header>

        <div class="left-line">
          <div>
            <div>
              <div id="bg-projects"></div>
              <button
                id="projects"
                class="colapsable-menu"
                [matMenuTriggerFor]="menuProjects"
                (menuOpened)="menuOpened('projects')"
                (menuClosed)="menuClosed('projects')"
                [expanded]="btnClose"
                disableRipple="true"
                mat-button
              >
                <span class="material-icons icon"> account_tree </span>
                <span>
                  {{ lang == "Esp" ? "Proyectos" : "Projects" }}
                </span>
              </button>

              <mat-menu
                #menuProjects="matMenu"
                xPosition="after"
                yPosition="below"
                direction="vertical"
              >
                <section mat-menu-item disableRipple="true" class="row">
                  <button
                    mat-button
                    (click)="adminRedirect('projects')"
                    style="width: 100%"
                  >
                    <div class="flex1">
                      <span class="material-icons icon"> post_add </span>
                      <div *ngIf="!sideToggleService.sideStatus">
                        {{
                          lang == "Esp"
                            ? "Crear o modificar un proyecto"
                            : "Create or modify projects"
                        }}
                      </div>
                    </div>
                  </button>
                </section>
              </mat-menu>
            </div>

            <div>
              <div id="bg-roles"></div>
              <button
                id="roles"
                mat-button
                [matMenuTriggerFor]="menuRoles"
                (menuOpened)="menuOpened('roles')"
                (menuClosed)="menuClosed('roles')"
                disableRipple="true"
                class="colapsable-menu"
              >
                <span class="material-icons icon"> people_alt </span>
                Roles
              </button>

              <mat-menu
                #menuRoles="matMenu"
                xPosition="after"
                yPosition="below"
                direction="vertical"
              >
                <section mat-menu-item disableRipple="true" class="row">
                  <button
                    mat-button
                    (click)="adminRedirect('roles/users')"
                    style="width: 100%"
                  >
                    <div class="flex1">
                      <span class="material-icons icon"> person_add </span>
                      <div>
                        {{
                          lang == "Esp"
                            ? "Crear y modificar usuarios"
                            : "Create
                      and modify users"
                        }}
                      </div>
                    </div>
                  </button>
                </section>
                <section mat-menu-item disableRipple="true" class="row">
                  <button
                    mat-button
                    (click)="adminRedirect('roles')"
                    style="width: 100%"
                  >
                    <div class="flex1">
                      <span class="material-icons icon"> people_alt </span>

                      <div>
                        {{
                          lang == "Esp" ? "Administrar perfiles" : "Manage Profiles"
                        }}
                      </div>
                    </div>
                  </button>
                </section>
              </mat-menu>
            </div>

            <div>
              <div id="bg-banner"></div>
              <button
                id="banner"
                mat-button
                [matMenuTriggerFor]="menuBanner"
                (menuOpened)="menuOpened('banner')"
                (menuClosed)="menuClosed('banner')"
                disableRipple="true"
                class="colapsable-menu"
              >
                <span class="material-icons icon"> photo </span>
                Banner
              </button>

              <mat-menu
                #menuBanner="matMenu"
                xPosition="after"
                yPosition="below"
                direction="vertical"
              >
                <section mat-menu-item disableRipple="true" class="row">
                  <button
                    mat-button
                    (click)="adminRedirect('banners')"
                    style="width: 100%"
                  >
                    <div class="flex1">
                      <span class="material-icons icon"> collections </span>

                      <div>
                        {{
                          lang == "Esp"
                            ? "Crear o modificar banners"
                            : "Create or modify banners"
                        }}
                      </div>
                    </div>
                  </button>
                </section>
              </mat-menu>
            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-divider id="separatorsidebar"></mat-divider>

      <h2
        class="sidebar-title"
        *ngIf="prop.length > 0 && !sideToggleService.sideStatus"
      >
        {{ lang == "Esp" ? "Proyectos asignados" : "Assigned projects" }}
      </h2>

      <h2
        class="sidebar-title"
        *ngIf="!prop.length && !sideToggleService.sideStatus"
      >
        {{ lang == "Esp" ? "Sin Proyectos asignados" : "No Assigned projects" }}
      </h2>

      <!-- projects section -->
      <div *ngIf="prop.length > 0">
        <mat-expansion-panel
          *ngFor="let project of prop; let id = index"
          [id]="'panel' + id"
          (afterExpand)="arrowRotate(true, id)"
          (closed)="arrowRotate(false, id)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <i
              class="material-icons arrow"
              [id]="'arrowH' + id"
              *ngIf="!sideToggleService.sideStatus"
            >
              arrow_forward_ios
            </i>
            <span class="material-icons icon menu-icon" [id]="'iconH' + id">
              {{ project.icon }}
            </span>
            <span
              *ngIf="!sideToggleService.sideStatus"
              class="option-name wrap"
            >
              {{ lang == "Esp" ? project.name_es : project.name_en }}
            </span>
          </mat-expansion-panel-header>
          <div class="left-line">
            <div *ngFor="let menuItem of project.submenus">
              <div *ngIf="menuItem.apps.length > 0 && menuItem.status == true">
                <div [id]="'bg-' + menuItem.name_es"></div>
                <button
                  [id]="menuItem.name_es"
                  mat-button
                  [matMenuTriggerFor]="menu"
                  (menuOpened)="menuOpened(menuItem.name_es)"
                  (menuClosed)="menuClosed(menuItem.name_es)"
                  disableRipple="true"
                  class="colapsable-menu"
                >
                  <span class="wrap">
                    {{ lang == "Esp" ? menuItem.name_es : menuItem.name_en }}
                  </span>
                </button>

                <mat-menu
                  #menu="matMenu"
                  xPosition="after"
                  yPosition="below"
                  direction="vertical"
                >
                  <section
                    mat-menu-item
                    disableRipple="true"
                    class="row"
                    *ngFor="let program of menuItem.apps"
                  >
                    <button mat-button (click)="openApp(program.id)">
                      <div class="flex1">
                        <span
                          mat-prefix
                          class="icon {{ getClassName(program.id) }}"
                          style="margin-left: 10px"
                        ></span>
                        <i
                          *ngIf="sideToggleService.sideStatus"
                          class="material-icons arrow"
                          [id]="id"
                        >
                          arrow_forward_ios
                        </i>
                        <span class="wrap">
                          {{
                            lang == "Esp" ? program.name_es : program.name_en
                          }}
                        </span>
                      </div>
                    </button>
                    <input
                      [id]="program.id"
                      class="star"
                      type="checkbox"
                      title="bookmark page"
                      [(checked)]="program.fav"
                      (change)="
                        showConfirmation($event.target.checked, program)
                      "
                    />
                  </section>
                </mat-menu>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>
</aside>
