::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #c7c6c6;
  border-radius: 8px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background: #e21d47;
  border-radius: 8px;
  background-clip: padding-box;
}
:host::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(15%);
}
.container {
  .section {
    &__1 {
      margin-bottom: 25px;
      .form-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
      }
      .form {
        &-section {
          padding: 0px;
          width: 100%;
          max-width: 100%;
          .fullInput {
            margin: 10px;
          }
          .row {
            width: 100%;
            .bolt-btn-filled {
              margin-right: 10px;
            }
            &__2 {
              justify-content: flex-end;
            }
          }
        }
        &-title {
          margin-left: 0;
          border-bottom: 0;
          font-weight: bold;
        }
      }
    }
    &__2 {
      .row {
        width: 100%;
        box-sizing: border-box;
        justify-content: space-between;
        .bolt-btn-filled {
          width: 180px;
        }
        .form-title {
          border-bottom: none;
          margin-left: 0;
        }
      }
      .grid {
        overflow: hidden;
        width: 100%;
        &-header {
          display: grid;
          grid-template-columns: 16% 9% 22% 17% 17% 15%;
          grid-gap: 10px;
          border-bottom: 1px solid #c4c4c4;
          &__title {
            padding: 10px 0;
          }
        }

        &-content {
          display: grid;
          grid-template-columns: 16% 9% 22% 17% 17% 15%;
          grid-gap: 10px;
          margin: 10px 0;
          border-bottom: 1px solid #c4c4c4;

          .col {
            align-items: flex-start;
            .grid-content__name {
              margin: 0;
              text-align: left;
            }
          }
          &__action {
            .col {
              align-items: center;
            }
          }
          &__description {
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
      .paginator {
        width: fit-content !important;
      }
    }
  }
}
