.main-content {
  width: calc(100vw - 87px);
  height:calc(100vh - 114px);
  margin-left: 80px;
  box-sizing: border-box;
  padding: 0px;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 50% auto;
  grid-gap: 10px;
  /*@media only screen and (min-width: 1600px) {
    height: 800px;
  }*/
  @media only screen and (max-height: 700px) {
    height: 800px;
  }  
}

::ng-deep .carousel-slide-content {
  max-height: 700px;
  @media only screen and (min-width: 1600px) {
    max-height: 800px;
  }
}
::ng-deep .carousel {
  /*height: 100% !important;*/
  width: 100% !important;
  @media only screen and (max-height: 700px) {
    height: 84% !important;
  } 
  @media only screen and (min-height: 701px) {
    height: 98% !important;
  }   
  background: rgba(0, 0, 0, 0.7);
  opacity: 0.91;
  box-shadow: 1px 6px 4px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 1px 6px 4px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 1px 6px 4px rgba(0, 0, 0, 0.25) inset;
  margin-top:60px;
  ul,
  li {
    height: 100% !important;
  }
}
.content {
  height: calc(100vh - 30%);
  @media only screen and (max-width: 1366px) {
    height: 80%;
  }
  position: relative;
  .col {
    position: absolute;
    bottom: 0;
    height: auto;
    padding: 25px 20%;
    align-items: flex-start;
  }
}

::ng-deep .mat-mini-fab.mat-warn.mat-button-disabled {
  background-color: rgb(255, 255, 255);
}

::ng-deep
  .mat-focus-indicator.mat-mini-fab.mat-button-base.mat-warn.ng-star-inserted {
  width: 17px;
  height: 17px;
  margin: 13px;
}
::ng-deep .mat-mini-fab.mat-warn {
  background-color: #f9d904;
}

.footer{
  bottom: 0 !important;
}

@media only screen and (max-width: 1366px) {
  .favorites {
    padding: 30px 20px !important;
    &__cards {
      margin: 5px 0;
      &:hover {
        transform: scale(1.02);
      }
      &__logo {
        width: 46px !important;
        height: 40px !important;        
      }
    }
  }
}


.favorites {
  padding:9em 12em;
  @media only screen and (max-height: 900px) {
    padding: 35px 72px;
  }  
  .title {
    justify-content: flex-start;
    margin-top:20px;
    .icon-lg {
      margin-right: 20px;
    }
  }
  .menu-star_fav{
    color:#f9d904;
  }
  &__cards {
    margin: 11px 0;
    justify-content: flex-start;
    border: none;
    cursor: pointer;
    background: transparent;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
    }

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 66px;
      height: 60px;
      margin-right: 9px;
      background: #e6e6e6;
      border-radius: 15px;
      padding: 0;
    }
    &__content {
      display: flex !important;
      justify-content: space-around;
      width: 335px;
      height: 60px;
      background-color: #f9f9f9;
      color: black !important;
      border-radius: 15px;
      padding: 0 20px;
      box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);

      h3,
      h4,
      p {
        margin: 0;
      }
      .description {
        width: 190px;
        max-height: 50px;
        text-align: left;
      }
      .vertical-divider {
        width: 2px;
        height: 33px;
        background-color: #4E88D2;
        margin: auto 20px;
      }
      .last-seen {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: #5e5e5e;
        text-align: center;
      }
    }
  }
  .empty-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .text-muted {
      font-size: 24px;
      line-height: 30px;
      text-transform: none;
      max-width: 280px;
      text-align: center;
    }
  }
}
